

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Notable';
  src: local('Notable'), url(./fonts/Notable-Regular.ttf) format('truetype');
}

#components-grid-demo-flex [class~='ant-row'] {
  background: rgba(128, 128, 128, 0.08);
}

.ant-layout-header{
  background: #1A1A1A;
}

.ant-collapse, .ant-collapse-content {
  background: #1A1A1A;
}

.ant-layout-content{
  background: #000000;
}

h3.ant-typography, .ant-typography h3{
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  color: #C6C6C6;
}

h4.ant-typography, .ant-typography h4{
  font-family: Raleway;
  font-weight: 100;
  font-size: 13px;
  color: #C6C6C6;
}

div.ant-typography, .ant-typography p {
  font-family: Lato;
  line-height: normal;
  text-align: justify;
  color: white;
}